@{
    ViewData["Title"] = "Blacklist";
}
@section styles {
<link rel="stylesheet" href="~/css/equipment.css" type="text/css" />
<link rel="stylesheet" href="~/css/blacklist.css" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}
<div class="body">
    <div class="equipment-header">
        <div class="eqipment-title">
            <h1>รายชื่อบัญชีดำ</h1>
        </div>
        <form class="equipment-search">
            <input type="text" placeholder="ค้นหา" name="name">
            <button type="submit"> <img src="~/image/search-icon.png" alt="ค้นหา" class="search-icon" /></button>
        </form>
    </div>
    <div class="borrowing-header" id="trigger1">
        <div class="state-borrowing-container">
            <button class="borrowing-state" onclick="triggerState(1)">
                <h3>บัญชีดำ</h3>
            </button>
            <button class="completed-state" onclick="triggerState(2)">
                <h3>รายชื่อผู้จองทั้งหมด</h3>
            </button>
        </div>
    </div>
    <div class="completed-header" id="trigger2">
        <div class="state-borrowing-container">
            <button class="completed-state" onclick="triggerState(1)">
                <h3>บัญชีดำ</h3>
            </button>
            <button class="borrowing-state" onclick="triggerState(2)">
                <h3>รายชื่อผู้จองทั้งหมด</h3>
            </button>
        </div>
    </div>
    <div class="borrowing-title">
        <div class="state-borrowing-title" id="trigger3">
            <h2>บัญชีดำ</h2>
        </div>
        <div class="state-completed-title" id="trigger4">
            <h2>รายชื่อผู้จองทั้งหมด</h2>
        </div>
    </div>
    @* <form id="to-blacklist1" method="POST" asp-controller="admin" asp-action="setBlacklist" asp-route-id = 'fbee07bb-6de2-4fdb-91de-e7b6d28144cf' asp-route-ac = "to"></form><input form ="to-blacklist1" type="submit" method="POST" value ="ขึ้นบัญชีดำ"></input> *@
    <output id="blacklist">

    </output>
</div>
<script>
    var normalList = [];
    var blackList = [];
    var normalListElements="";
    var blackListElements="";

    var output = document.getElementById("blacklist");
    var status = "Blacklist";
    window.onload = () => {
        getUser(status);
    }
    function getUser(status) {
        output.innerHTML="<div class='myloading'><div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div></div>";
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let response = JSON.parse(this.responseText);
                console.log(this.responseText);
                console.log(response);
                let responseElement = "";
                for (var a of response) {
                    if(a.status=="Blacklist")blackList.push(a);
                    else normalList.push(a);
                }

                //blacklist
                for (var a of blackList){
                    var x = blackList.indexOf(a);
                    blackListElements += `
                    <table id="name-list">
                            <div id='eiei'>
                                <div class="mycontainer">
                                <div id="avatar-box"><i class="material-icons" id="avatar">no_accounts</i></div>
                            
                                <div>${a.email.split("@@")[0]} ${a.name} ${a.surname}</div>
                                </div

                            <div id="remove-black"><div class="remove-black-btn">
                                <form id="remove-blacklist${x}"method="POST" action="/api/blacklist?id=${a.id}&ac=out"></form>
                                <input form ="remove-blacklist${x}" type="submit" method="POST" value ="นำออกจากบัญชีดำ"></input>
                            </div>
                            </div>
                            </div>
                    </table>`;
                }
                //normal
                for (var a of normalList) {
                    var x = normalList.indexOf(a);
                    normalListElements += `
                    <table id="name-list">
                            <div id='eiei'>
                                <div class="mycontainer">
                                <div id="avatar-box">
                                    <i class="material-icons" id="avatar">account_circle</i>
                                </div>
                                <div>${a.email.split("@@")[0]} ${a.name} ${a.surname}</div>
                                </div>

                            <div id="add-black">
                                <div class="add-black-btn">
                                    <form id="to-blacklist${x}" method="POST" action="/api/blacklist?id=${a.id}&ac=to"></form>
                                    <input form ="to-blacklist${x}" type="submit" method="POST" value ="ขึ้นบัญชีดำ"></input>
                                </div>
                            </div>
                            </div>
                    </table>`;
                }
                
                if (this.responseText == null) {
                    responseElement += `
                        <div class="equip-not-found">
                        <img src="/image/icon.png" alt="logo" style="filter:saturate(50%)" class="oops" />
                        <h1 class="title">ยินดีด้วย</h1>
                        <h4>ไม่มีนักศึกษาใน Blacklist</h4>
                        </div>`;
                    output.innerHTML = responseElement;
                }               

                else if (status == "Blacklist") output.innerHTML = blackListElements;
                
                else output.innerHTML = normalListElements;
            }
        }
        xhttp.open("GET", `/api/get-user`, true);
        xhttp.send();
    }

    function setOutput(){
        if(status == "Blacklist")output.innerHTML = blackListElements;
        else output.innerHTML = normalListElements;
        console.log(status ,normalListElements);
    }

    function triggerState(state) {
        if (state == 1) {
            document.getElementById("trigger1").style.display = "flex";
            document.getElementById("trigger2").style.display = "none";
            document.getElementById("trigger3").style.display = "flex";
            document.getElementById("trigger4").style.display = "none";
            status = "Blacklist";
            setOutput();
        }
        else {
            document.getElementById("trigger1").style.display = "none";
            document.getElementById("trigger2").style.display = "flex";
            document.getElementById("trigger3").style.display = "none";
            document.getElementById("trigger4").style.display = "flex";
            status = "Normal";
            setOutput();
        }
    }
</script>
