@{
    ViewData["Title"] = "Description";
}
@section styles{
<link rel="stylesheet" href="~/css/describe.css" type="text/css" />
}
<div id="main">
    @* <h1>ทำตรงนี้</h1>
    <p>@ViewBag.equipment.name</p>
    <p>@ViewBag.equipment.description</p>
    <p>@ViewBag.equipment.amount</p>
    <img src=@(ViewBag.equipment.image) alt=@(ViewBag.equipment.name)/>
    <br/>
    eieizza55plus *@
    <h1 class="title">@ViewBag.equipment.name</h1>
</div>