<div>
    <h1>ทำตรงนี้</h1>
    <p>@ViewBag.equipment.name</p>
    <p>@ViewBag.equipment.description</p>
    <p>@ViewBag.equipment.amount</p>
    <img src=@(ViewBag.equipment.image) alt=@(ViewBag.equipment.name)/>    
    <br/>
    eieizza55plus
</div>