<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - golablint</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/cardAdmin.css" type="text/css" />
    <link rel="stylesheet" href="~/css/card.css" type="text/css" />
    <link rel="stylesheet" href="~/css/authentication.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            padding-top: 0px;
        }
    </style>
    @RenderSection("styles",false)
</head>

<body>
    <div class="panel">
        <div class="left-panel">
            <img class="authen-logo" src="~/image/goLabLint.png" alt="goLabLint logo" />
            <main role="main">@RenderBody()</main>
        </div>
        <div class="right-panel">
            <div class="right-container">
                <img class="right-image" src="~/image/card.png" alt="card">
                <div class="right-title">
                    <h2 class="right-title">
                        จองง่าย...ได้เร็ว<br />ยืมอุปกรณ์ที่ต้องการอย่างสะดวก</h2>
                    <p class="right-subtitle">นักศึกษาสามารถยืมอุปกรณ์ที่ต้องการได้ <br />จากในทุกห้องปฏิบัติการ
                        ผ่านการจองออนไลน์ ด้วย
                        GoLabLint</p>
                    <img class="right-deco" src="~/image/microchip.png" alt="microchip">
                    <div class="right-circle" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>