@{
    ViewData["Title"] = "Create";
}
@section styles {
<link rel="stylesheet" href="~/css/create.css" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<div id="container">
    <header>
        <h1>เพิ่มอุปกรณ์ใหม่</h1>
    </header>
    <main>
        <figure id="photo">
            <input type="file" accept=".jpg, .jpeg, .png, .gif" name="photo" id="upload_button"
                onchange="loadFile(event)" style="display: none;">
            <label for="upload_button" style="cursor: pointer;">
                <i class="material-icons" id="photo_icon">add_photo_alternate</i>
            </label>
            <img id="output" width="500" />
        </figure>
        <div id="realdiv"></div>
        <aside>
            <form action="" method="post">
                <label for="name">ชื่ออุปกรณ์</label>
                <input type="text" id="name" class="inputbox"><br><br>
                <label for="quantity">จำนวน (ชิ้น)</label>
                <input type="number" id="quantity" min="1" class="inputbox"><br><br>
                <label for="lab">ห้องปฏิบัติการ</label><br>
                <select name="lab" id="lab" class="inputbox" required>
                    <option selected disabled hidden>------โปรดระบุ------</option>
                    <option value="lab1">lab1</option>
                    <option value="lab2">lab2</option>
                    <option value="lab3">lab3</option>
                </select>
                <div id="button_container">
                    <button type="submit">ยืนยัน</button>
                </div>    
            </form>
        </aside>
    </main>
</div>