@{
    ViewData["Title"] = "Create";
}
@section styles {
<link rel="stylesheet" href="~/css/equipmentAdmin.css" type="text/css" />
<link rel="stylesheet" href="~/css/equipment.css" type="text/css" />
}

<h1>test</h1>