@{
    ViewData["Title"] = "Equipment";
}
@section styles {
<link rel="stylesheet" href="~/css/equipment.css" type="text/css" />
}
<div>
    <div class="equipment-header">        
        <div class="eqipment-title">
            <h1>อุปกรณ์ที่สามารถจองได้</h1>
        </div>
        <form class="equipment-search">
            <input type="text" placeholder="ค้นหาอุปกรณ์" >
            <button type="submit"></button>
        </form>
    </div>
    @await Component.InvokeAsync("EquipmentCard",new {role="User"})    
</div>