@section styles {
<link rel="stylesheet" href="~/css/home.css" type="text/css" />}

<div class="body">
    <div class="user-access-deny">
            <img src="~/image/icon.png" alt="logo" style="filter:saturate(50%)" class="oops" />
            <h1 class="title">ไม่สามารถเข้าถึงได้</h1>
            <h4>โปรดตรวจสอบให้แน่ใจว่าท่านมีสิทธิ์เข้าถึงหน้าเว็ปนี้</h4>
        </div>
</div>