#container {
    margin-left: 5%;
    margin-top: 3%;
}
#container form section aside div label {
    color:#646464;
} 
#container form section aside div input::placeholder {
    color:#C5C5C5;
}
#container form section aside div select option,
#container h1 {
    color: #444444;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#photo {
    width: 500px;
    height: 500px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #C4C4C4;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
}
#photo.error {
    border-color: #F03738;
}
#output {
    border-radius: 20px;
}

#photo_icon {
    font-size: 200px;
    color: lightgray;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

#output {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside {
    margin-top: 3%;
    margin-left: 5%;
}

aside>label {
    font-size: 1.5rem;
}

.inputbox {
    font-size: 1.25rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #7B7B7B;
    width: 500px;
    padding: 0.5rem 1rem;
    height: 50px;
    box-sizing: border-box;
}

#lab {
    width: 100%;
    padding-right: 5rem;
}

#select {
    position: relative;
    width: 100%;
}

#lab {
    background: none;
    appearance: none;
}

#select::before {
    content: ">";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg) translateY(0.5rem);
}

button {
    font-size: 1.5rem;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: 1px 2px 5px -1px var(--dark-gray-color);
    cursor: pointer;
}

#confirm-bt {
    background-color: var(--orange-color);
    color: var(--light-gray-color);
}

#back-bt {
    /* border: 1px solid lightgray; */
    background-color: white;
    margin-right: 5%;
}

#button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
/* div.image-block {
    wi
} */
div.add-block {
    position: relative;
}

div.error {
    background-color: #F03738;
    color: #F4F4F4;
    position: absolute;
    width: max-content;
    height: max-content;
    left: 100%;
    top: 100%;
    padding: 0.5% 2%;
    transform: translateX(-110%);
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.85rem;
    display: none;
}

input.error,select.error {
    border: 0.125rem solid #F03738;
}
select:focus + div.error,
input.error:focus + div.error {
    display: block;
}