#container {
    margin-left: 5%;
    margin-top: 3%;
}

#container h1 {
    color: #444444;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#photo {
    width: 500px;
    height: 500px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
}

#output {
    border-radius: 20px;
}

#photo_icon {
    font-size: 200px;
    color: lightgray;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

#output {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside {
    margin-top: 3%;
    margin-left: 5%;
}

aside>label {
    font-size: 1.5rem;
}

.inputbox {
    font-size: 1.25rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: lightgray;
    width: 500px;
    padding: 0.5rem 1rem;
    height: 50px;
    box-sizing: border-box;
}

#lab {
    width: 100%;
    padding-right: 5rem;
}

#select {
    position: relative;
    width: 100%;
}

#lab {
    background: none;
    appearance: none;
}

#select::before {
    content: ">";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg) translateY(0.5rem);
}

button {
    font-size: 1.5rem;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    box-shadow: 1px 2px 5px -1px var(--dark-gray-color);
    cursor: pointer;
}

#confirm-bt {
    background-color: var(--orange-color);
    color: var(--light-gray-color);
}

#back-bt {
    /* border: 1px solid lightgray; */
    background-color: white;
    margin-right: 5%;
}

#button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}