div.register-container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
}

h1.authen-title {
    font-weight: bold;
    color: #646464;
}

div.input-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
    width: 100%;
    position: relative;

}

input.input-box {
    border: 0.125rem solid #7B7B7B;
    border-radius: 0.5rem;
    flex-grow: 1;
    padding: 0.5rem 1rem;
}

input.input-box::placeholder {
    color: #C5C5C5;
}

label.input-label {
    color: #646464;
}

input.register {
    color: white;
    background-color: #3DB1E7;
    border-radius: 0.5rem;
    padding: 2% 0;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5%;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}

div.row {
    display: flex;
    justify-content: space-between;
}

div.row>div:first-child {
    margin-right: 2%;
}


img.register-logo {
    width: 30%;
    margin-top: 10%;
    align-self: flex-end;
    transform: translateX(40%);
}

div.error {
    background-color: #F03738;
    color: #F4F4F4;
    position: absolute;
    width: max-content;
    height: max-content;
    left: 100%;
    top: 100%;
    padding: 0.5% 2%;
    transform: translateX(-110%);
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.85rem;
    display: none;
}
input.error {
    border: 0.125rem solid #F03738;
}

input.error:focus + div.error {
    display: block;
}

a.register {
    display: block;
    box-sizing: border-box;
    color: #3DB1E7;
    background-color: white;
    border-radius: 0.5rem;
    border: 0.125rem solid #3DB1E7;
    padding: 2% 0;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    font-size: 1rem;
}
